header {
  height: 15vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background);
  color: aliceblue;
}

.logo {
  display: flex;
  width: 80px;
  height: 80px;
  padding-top: 8px;
}

.logo img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  font-weight: bolder;
  height: 10px;
}

.nav :hover {
  padding: 2px 0;
  border-top: 2px solid #ff6892;
  border-bottom: 2px solid #ff6892;
  color: #ff6892;
}

.control-li {
  padding: 5px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.control-li :hover {
  color: #8855a1;
}

header .control {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
header .control img {
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fffbee;
}

button {
  padding: 8px;
}
