.petcard {
  width: 250px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.8rem;
  text-align: left;
  background-color: #97a0c8;
  border-radius: 0.5rem;
}

.petcard img {
  border-radius: 0.5rem;
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.petcard .breed {
  text-align: right;
}

/*.guitarcard .out {
  color: crimson;
  text-align: right;
}

.guitarcard .stock {
  color: green;
  text-align: right;
}*/
