.newpet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  
  .newpet form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  