.pets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--backgrounddos);
    color: var(--text-primary);
}

.pets .galeria{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--backgrounddos);
    color: var(--text-primary);
}

