.profile {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 2px solid #fffbee;
}

.profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
