* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
}
section {
  min-height: 75vh;
}



a {
  transition: all 0.2s ease-in-out;
}

strong {
  color: #fe4107;
}

button {
  color: #fffbee;
  height: 100%;
  width: 100%;
  align-items: center;
  outline: none;
  border: none;
  color: #ff6892;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--text-primary);
  transition: all 0.3s ease;
  font-weight: bolder;
  border-color: var(var(--text-primary));
}

.mode {
  background-color: var(--backgroundTres);
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  color: #2a3f69;
}

[data-theme="☀️"] {
  --background: #38363d;
  --backgrounddos: #c43d4c;
  --backgroundTres: #93e5e1;
  --text-primary: #faf0ea;
}

[data-theme="🌚"] {
  --background: #0579ff;
  --backgrounddos: #abd0fc;
  --backgroundTres: #f6eddb;
  --text-primary: #284591;
}

@media only screen and (max-width: 750px) {
  .nav {
    font-size: 12px;
    gap: 1rem;
  }
  .control {
    margin-right: 20px;
  }
  .home-img {
    margin: 5px;
  }
  .home-link {
    padding-bottom: 100px;
    margin-left: 250px;
  }
  .home-link p {
    font-size: 12px;
    padding: 10px;
  }
}

@media only screen and (max-width: 550px) {
  body {
    margin-left: 10px;
  }
  .home-link {
    margin-left: 150px;
    
  }
  .logo {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .register form {
    display: flex;
    flex-direction: column;
  }
  .profile img {
    display: none;
  }

  .home-img {
   display: none;

  
}


  }
}
