* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}
section {
  min-height: 75vh;
}

button {
  border: none;
  background-color: red;
  border-radius: 0, 2rem;
  padding: 0, 3rem 1rem;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #fe4107;
  padding: 2px 0;
  border-top: 2px solid #fe4107;
  border-bottom: 2px solid #fe4107;
}

strong {
  color: #fe4107;
}

button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #585655;
  border-radius: 0.2rem;
  font-weight: bold;
  color: #fffbee;
}


.mode {
  background-color: var(--background);

  padding: 6px;
  width: 100%;
  border-top: #8855a1 solid 1px;
  border-bottom: #8855a1 solid 1px;
} 


[data-theme='☀️'] {
  --background: #0e1729;
  --backgrounddos: #2a3f69;
  --backgroundtres: #8855a1;
  --text-primary: #c28dba;
  --text-secondary: #c28dba;
  --accent: #8855a1;
}


[data-theme='🌚'] {
  --background: #e5e0e8;
  --text-primary: #29327a;
  --text-secondary: #29327a;
  --accent: rgb(30, 87, 87);
}